.app-wrapper {
  width: 71.5%;
  margin: 0 auto;

  display: grid;

  grid-template-areas:
    "h h"
    "n c";

  grid-template-rows: 1fr 16fr;
  grid-template-columns: 1fr 5fr;
}
.app-wrapper-content {
  grid-area: c;
  margin-top: 43px;
}
a {
  text-decoration: none;
  color: inherit;
}