.main {
  width: 100%;
  margin: 0 auto;

  display: grid;

  grid-template-areas: "names line messages";

  /* grid-template-rows: 1fr 16fr; */
  grid-template-columns: 2fr 5fr;
}
.line {
  border-left: 3px solid rgb(139, 139, 139);
  height: 600px;
  grid-area: line;
}
.names {
  width: 250px;
  grid-area: names;
}

.messages {
  grid-area: messages;
}
